<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359347542118-q16an4pc71190986b19nq6h8kav045b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359347542118-q16an4pc71190986b19nq6h8kav045b4</string>
	<key>API_KEY</key>
	<string>AIzaSyAfo5kur-ZVx1pV0gRso5R7X-FT1VFkTHc</string>
	<key>GCM_SENDER_ID</key>
	<string>359347542118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>volkanprojem</string>
	<key>STORAGE_BUCKET</key>
	<string>volkanprojem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359347542118:ios:19c9fef9da5ad8279735a7</string>
</dict>
</plist>